.imgHearo {
    display: flex;
    justify-content: center;
}
.imgHearo img{
    width: 90%;
}
.information{
    display: flex;
    padding: 1%;
    align-items: center;
    margin-left: 3%;
}
.conten1 h1{
font-size: 50px;
}
.conten1 h2{
    font-size: 30px;
}
.conten2 p{
    font-size: 50px;
    margin: 0;
}
.conten1{
    margin: 1%;
    padding: 1%;
    border-right: 5px solid black;
}